
<section id="content_partners">
    <label>Content Partners</label><i class="fa fa-sort-desc" aria-hidden="true"></i>
    <ul>
        <% _.each(data.content_partner, function(obj){ %>
            <% if (obj && obj.course_count) { %>
                <span class="content_partner" data-pk="<%= obj.id %>"><%= obj.name %><!--<span class="theme-color" data-pk="<%= obj.id %>"> (<%= obj.course_count %>)</span>--></span>
            <% } %>
        <% }); %>
    </ul>
</section>

<section id="grades">
    <label>Grade</label><i class="fa fa-sort-desc" aria-hidden="true"></i>
    <ul>
        <% _.each(data.grade, function(obj){ %>
            <% if (obj && obj.course_count) { %>
                <span class="grade" data-pk="<%= obj.id %>">Grade<%= obj.name %> <!--<span class="theme-color" data-pk="<%= obj.id %>">(<%= obj.course_count %>)</span>--></span>
            <% } %>
        <% }); %>
    </ul>
</section>

<section id="subjects">
    <label>Subjects</label><i class="fa fa-sort-desc" aria-hidden="true"></i>
    <ul>
        <% _.each(data.subject, function(obj){ %>
            <% if (obj && obj.course_count) { %>
                <span class="subject" data-pk="<%= obj.id %>"><%= obj.name %><!--<span class="theme-color" data-pk="<%= obj.id %>">(<%= obj.course_count %>)</span>--></span>
            <% } %>
        <% }); %>
    </ul>
</section>

